{% extends 'pnav.html' %}


{% block content %}
    {% load static %}
    {% load crispy_forms_tags %}

    {% load widget_tweaks %}

    <div class="modal fade" id="addproperty" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header border-bottom-0">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="col-md-12">
				<form method="POST">{% csrf_token %}
					<div class="modal-body">
            <center><h3>New Location</h3></center>
						<fieldset class="p-4">
							<input type="text" name="name" id="" placeholder="Location Name"
								class="border w-100 p-3 mt-3 mt-lg-4">
							<div class="btn-grounp">
								<button type="submit" class="btn btn-primary mt-2 float-right">SUBMIT</button>
							</div>
						</fieldset>
				</form>
			</div>
		</div>


	</div>    
</div>
</div>









<!--==================================
=            User Profile            =
===================================-->
<section class="dashboard section">
  <!-- Container Start -->
  <div class="container">
    <!-- Row Start -->
    <div class="row">


    {% include 'adminnav.html' %}

      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
        <!-- Recently Favorited -->
        <div class="widget dashboard-container my-adslist">
          {% if sub1 %}
          <h3 class="btn btn-main-sm btn-primary" data-toggle="modal" data-target="#addproperty">Upload Product|Maximum Five Products</h3>
          {% elif sub2 %}
          <h3 class="btn btn-main-sm btn-danger" data-toggle="modal" data-target="#addproperty">Upload Product|Maximum Seven Products</h3>
          {% elif sub3 %}
          <h3 class="btn btn-main-sm btn-danger" data-toggle="modal" data-target="#addproperty">Upload Product|Maximum Ten Products</h3>
          {% elif sub %}
          <h3 class="btn btn-main-sm btn-danger" data-toggle="modal" data-target="#addproperty">Upload Product|Maximum Three Products</h3>
          {% endif %}
          {% if messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
              
           
              {% for message in messages %}
              <strong>Success!</strong> {{message}}.
              {% endfor %}   
             
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endif %}
          <table class="table table-responsive product-dashboard-table">
            <thead>
              <tr>
                <th>Name</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
       
                
              
                <button class="btn btn-main-sm btn-primary" data-toggle="modal" data-target="#addproperty">Add New Category</button>
              {% for enq in properties %}

              <tr>

                
                <td class="product-details">
                  <h3 class="title">{{enq.name}}</h3>

       
                </td>
                <td class="action" data-title="Action">
                  <div class="">
                      <ul>
                        
                        <li class="list-inline-item">
                            <a class="delete" data-toggle="tooltip" data-placement="top" title="Delete" href="{% url 'admin_locations_delete_view' enq.id%}">
                              <i class="fa fa-trash"></i>
                            </a>
                          </li>
                      </ul>
    
                  </div>
                </td>
              </tr>
              {% endfor %}




            </tbody>
        
          </table>
        </div>

        <!-- pagination -->
        <div class="pagination justify-content-center">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
              {% if properties.has_previous%}
							<li class="page-item">
								<a class="page-link" href="?q={{properties.previous_page_number}}"" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
								</a>
							</li>
              {% endif %}
              {% for num in properties.paginator.page_range %}
                  {% if properties.number == num %}
							          <li class="page-item active">
                          <a class="page-link" href="?q={{num}}">{{num}}</a>
                        </li>
                  {% elif num > properties.number|add:'-3' and num < properties.number|add:'3' %}
                        <li class="page-item">
                          <a class="page-link" href="?q={{num}}">{{num}}</a>
                        </li>
                  {% endif %}
              {% endfor %}
              {% if properties.has_next%}
							<li class="page-item">
								<a class="page-link" href="?q={{properties.next_page_number}}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
              {% endif %}
						</ul>
					</nav>
				</div>
        <!-- pagination -->

      </div>
    </div>
    <!-- Row End -->
  </div>
  <!-- Container End -->
</section>



    


{% endblock content %}