{% extends 'pnav.html' %}


{% block content %}

{% load widget_tweaks %}


<section class="page-search">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Advance Search -->
				<div class="advance-search">

					<form method="GET">
						<div class="form-row">
                            <!-- {{filter.form.fullname}} -->
							<div class="form-group col-md-4">
                                
                                {% render_field filter.form.fullname class="form-control my-2 my-lg-0" placeholder="Name" %}
                            </div>
                            
                            <div class="form-group col-md-4">
                                {% render_field filter.form.role class="form-control my-2 my-lg-0" placeholder="Role" %}
                            </div>
                            <!-- <div class="form-group col-md-4">
                                {% render_field filter.form.blocked class="form-control my-2 my-lg-0"%}
							</div> -->

							<div class="form-group col-md-2">
								
								<button type="submit" class="btn btn-primary">Search Now</button>
							</div>
						</div>
                    </form>
                    

				</div>
			</div>
		</div>
	</div>
</section>







<section class="dashboard section">
  <!-- Container Start -->
  <div class="container">
    <!-- Row Start -->
    <div class="row">

    {% include 'adminnav.html' %}



      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
        <!-- Recently Favorited -->
        <div class="widget dashboard-container my-adslist">
          <h3 class="widget-header">Users</h3>
          {% if messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
              
           
              {% for message in messages %}
              <strong>Success!</strong> {{message}}.
              {% endfor %}   
             
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endif %}
          <table class="table table-responsive product-dashboard-table">
            <thead>
              <tr>
                <th>Image</th>
                <th>User Info</th>
                <th class="text-center">Membership</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>

    
    {% for customer in customers %}

              <tr>
                <td class="product-thumb">
                  <img width="80px" height="auto" src="{{customer.image.url}}" alt="image description"></td>
                <td class="product-details">
                  <h3 class="title">{{customer.user.username}}</h3>
                  <span class="add-id"><strong>Customer ID:</strong> {{customer.id}}</span>
                  <span><b><strong>Joined on: </strong><time>{{customer.created_at}}</time> </b></span>
                  {% if customer.blocked %}
                  <span class="status active"><strong>Status</strong><b style="color: red;">Blocked</b></span>
                  {% else %}
                  <span class="status active"><strong>Status</strong><b style="color: green;">Active</b></span>
                  {% endif %}
                  
                  {% if customer.fullname %}
                  <b><span class="location" style="color:black;"><strong>Fullname</strong>{{customer.fullname}}</span> </b> 
                  {% else %}
                <b><span class="location" style="color: darkred;"><strong>User:</strong>Didnt Update his/her Profile</span></b>
                  {% endif %}
                  
                  
                </td>
                
                {% if customer.role == "seller" %}
                <td class="product-category"><span class="categories">Premium</span></td>    
                {% else %}
                <td class="product-category"><span class="categories">User</span></td>
                {% endif %}
                    
                
                <td class="action" data-title="Action">
                  <div class="">
                    <ul class="list-inline justify-content-center">
                      <li class="list-inline-item">
                        <a data-toggle="tooltip" data-placement="top" title="view" class="view" href="{% url 'customers_admin_detail_view' customer.slug %}">
                          <i class="fa fa-eye"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="edit" data-toggle="tooltip" data-placement="top" title="Edit" href="{% url 'customers_admin_edit_view' customer.slug %}">
                          <i class="fa fa-pencil"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="delete" data-toggle="tooltip" data-placement="top" title="Delete" href="{% url 'customers_admin_delete_view' customer.slug %}">
                          <i class="fa fa-trash"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>


                
    {% endfor %}
        









            </tbody>
          </table>

        </div>

        <!-- pagination -->
        <div class="pagination justify-content-center">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
								</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item active"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
        <!-- pagination -->

      </div>
    </div>
    <!-- Row End -->
  </div>
  <!-- Container End -->
</section>




{% endblock content %}



    