{% extends 'pnav.html' %}

{% block content %}


<div class="modal fade" id="addproperty" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header border-bottom-0">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="col-md-12">
				<form method="POST">{% csrf_token %}
					<div class="modal-body">
						<h3>Please Provide the following In the message</h3>
						<center><p>Phone Number &Contact Address </p></center>
						<p></p>

						<fieldset class="p-4">
							<textarea name="message" id="" placeholder="Message*"
								class="border w-100 p-3 mt-3 mt-lg-4"></textarea>
							<div class="btn-grounp">
								<button type="submit" class="btn btn-primary mt-2 float-right">SUBMIT</button>
							</div>
						</fieldset>
				</form>
			</div>
		</div>


	</div>
</div>
</div>


<!--===================================
=            Store Section            =
====================================-->
<section class="section bg-gray">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<!-- Left sidebar -->
			<div class="col-md-8">
				<div class="product-details">
					{% if messages %}
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						{% for message in messages %}
						<strong>Success</strong> {{message}}.
						{% endfor %}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					{% endif %}
					<h1 class="product-title">{{property.name}}</h1>
					<div class="product-meta">
						<ul class="list-inline">
							<li class="list-inline-item"><i class="fa fa-user-o"></i> By <a
									href="">{{property.author.user.username|capfirst}}</a></li>
							<li class="list-inline-item"><i class="fa fa-folder-open-o"></i> Category<a
									href="">{{property.category.name}}</a></li>
							<li class="list-inline-item"><i class="fa fa-location-arrow"></i> Location<a
									href="">{{property.location.name}}</a></li>
						</ul>
					</div>

					<!-- product slider -->
					<div class="product-slider">
						<div class="product-slider-item my-4" data-image="{{property.images_1.url}}">
							<img class="img-fluid w-100" src="{{property.images_1.url}}" alt="product-img">
						</div>

						{% if property.images_2 %}
						<div class="product-slider-item my-4" data-image="{{property.images_2.url}}">
							<img class="d-block img-fluid w-100" src="{{property.images_2.url}}" alt="Second slide">
						</div>
						{% endif %}

						{% if property.images_3%}
						<div class="product-slider-item my-4" data-image="{{property.images_3.url}}">
							<img class="d-block img-fluid w-100" src="{{property.images_3.url}}" alt="Third slide">
						</div>
						{% endif %}
						<div class="product-slider-item my-4" data-image="{{property.images_1.url}}">
							<img class="d-block img-fluid w-100" src="{{property.images_1.url}}" alt="Third slide">
						</div>
						<div class="product-slider-item my-4" data-image="{{property.images_1.url}}">
							<img class="d-block img-fluid w-100" src="{{property.images_1.url}}" alt="Third slide">
						</div>
					</div>
					<!-- product slider -->

					<div class="content mt-5 pt-5">
						<ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
									role="tab" aria-controls="pills-home" aria-selected="true">Product Details</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
									role="tab" aria-controls="pills-profile" aria-selected="false">Specifications</a>
							</li>
						
						</ul>
						<div class="tab-content" id="pills-tabContent">
							<div class="tab-pane fade show active" id="pills-home" role="tabpanel"
								aria-labelledby="pills-home-tab">
								<h3 class="tab-title">Product Description</h3>
								<p>{{property.description}}</p>

								

							</div>
							<div class="tab-pane fade" id="pills-profile" role="tabpanel"
								aria-labelledby="pills-profile-tab">
								<h3 class="tab-title">Product Specifications</h3>
								<table class="table table-bordered product-table">
									<tbody>
										<tr>
											<td>Seller Price</td>
											<td>${{property.price}}</td>
										</tr>
										<tr>
											<td>Added</td>
											<td>{{property.date_created}}</td>
										</tr>
										<tr>
											<td>Location</td>
											<td>{{property.location}}</td>
										</tr>
										<tr>
											<td>Brand</td>
											<td>{{property.brand}}</td>
										</tr>
										<tr>
											<td>Condition</td>
											<td>{{property.ptype}}</td>
										</tr>
									
									
										
									</tbody>
								</table>
							</div>


						</div>
					</div>
				</div>
			</div>


			<div class="col-md-4">
				<div class="sidebar">
					<div class="widget price text-center" >
						<h4>Price</h4>
						<p>${{property.price}}</p>
					</div>
					<!-- User Profile widget -->
					<div class="widget user text-center">
						<img class="rounded-circle img-fluid mb-5 px-5" src="{{property.author.image.url}}" alt="">
						<h4><a href="">{{property.author.user.username}}</a></h4>
						<p class="member-time">Member Since {{property.date_created}}</p>
						
						<ul class="list-inline mt-20">
							
							{% if request.user.is_authenticated %}
							<li class="list-inline-item"><button class="btn btn-main-sm btn-primary"
									data-target="#addproperty" data-toggle="modal">Make an Offer</button>
							</li>
							{% endif %}
							{% if request.user.customer == property.author %}
							<li class="list-inline-item"><a href="{%url 'property_edit_view' property.slug %}"
									class="btn btn-offer d-inline-block btn-warning btn-main-sm ml-n1 my-1 px-lg-4 px-md-3">Edit</a>
							</li>
							{% endif %}
						</ul>
					</div>
					<!-- Map Widget -->
			
					<!-- Rate Widget -->
					
					<!-- Safety tips widget -->
	
					<!-- Coupon Widget -->
					<div class="widget coupon text-center">
						<!-- Coupon description -->
						<p>Have a Question on your mind? Connect with Team Here.
						</p>
						<!-- Submii button -->
						<a href="{% url 'contact_us_view'%}" class="btn btn-transparent-white">Contact Us</a>
					</div>

				</div>
			</div>

		</div>
	</div>
	<!-- Container End -->
</section>
<!--============================
=            Footer            =
=============================-->



{% endblock content %}