{% extends 'pnav.html' %}
{% load static %}
{% block content %}
  

  

<section class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center mx-auto">
                <div class="404-img">
                    <!-- <img src="{% static 'images/404/404.png'%}" class="img-fluid" alt=""> -->
                </div>
                <div class="404-content">
                    <h1 class="display-1 pt-1 pb-2">Success</h1>
                    <p class="px-3 pb-2 text-dark">We will Verify about The transaction, Meanwhile Have fun.........!</p>
                    <a href="{% url 'property_view' %}" class="btn btn-primary">Explore More Properties</a>
                    <!-- <a href="/" class="btn btn-info">GO HOME</a> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!--============================
=            Footer            =
=============================-->
{% endblock content %}